<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l0001.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1392},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0002.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0003.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{558,836},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0004.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{280,836},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0005.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0006.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{558,558},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0007.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{280,558},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0008.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0009.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{558,280},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0010.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{280,280},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0011.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0012.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0013.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>l0014.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BlockLightAtlas.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cade13604ece127624174167d33a9a4$</string>
            <key>textureFileName</key>
            <string>BlockLightAtlas.png</string>
        </dict>
    </dict>
</plist>
