<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>l0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,814},{311,268}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{311,268}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,814},{311,268}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{311,268}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{311,268}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{311,268}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,544},{311,268}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{311,268}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{311,270}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{311,270}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{311,270}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{311,270}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,270}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{311,270}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,544},{311,268}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{311,268}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{311,268}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{311,268}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,274},{311,268}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{311,268}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,274},{311,268}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{311,268}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
            <key>l0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{311,268}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{311,268}}</string>
                <key>sourceSize</key>
                <string>{315,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FailBlueCatAtlas.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:720d9bbfc7dc6ca34b4036e6e096a9f8$</string>
            <key>textureFileName</key>
            <string>FailBlueCatAtlas.png</string>
        </dict>
    </dict>
</plist>
