<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Whitebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,154},{73,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>click-feifei.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{80,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,72}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>click-feizai.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>click-gali.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{78,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>click-lanmao.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{82,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>click-taoqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,80},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>cubeLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,172}}</string>
                <key>sourceSize</key>
                <string>{176,172}</string>
            </dict>
            <key>end-feifei.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,297},{74,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{74,66}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>end-feizai.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,156},{74,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>end-gali.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{72,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{72,70}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>end-lanmao.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,80},{76,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,72}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>end-taoqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,229},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{74,70}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>feifei.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,229},{74,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{74,66}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>feizai.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,155},{74,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>gali.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{72,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{72,70}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>lanmao.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,82},{76,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,72}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>taoqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,158},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{74,70}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>texiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,76},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FruitsAtlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aba06027c440a416b05d73b69488eb18$</string>
            <key>textureFileName</key>
            <string>FruitsAtlas.png</string>
        </dict>
    </dict>
</plist>
