<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{24,10}}</string>
                <key>offset</key>
                <string>{49,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,0},{24,10}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,162},{64,58}}</string>
                <key>offset</key>
                <string>{28,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,106},{74,92}}</string>
                <key>offset</key>
                <string>{13,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,102},{88,116}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{88,116}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{98,134}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{98,134}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{102,146}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{102,146}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{108,156}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{108,156}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{110,158}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{110,158}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{108,162}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{108,162}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,164}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{106,164}}</string>
                <key>sourceSize</key>
                <string>{126,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LeavesAtlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7369847e1928d038ae500c1a9acd75d2$</string>
            <key>textureFileName</key>
            <string>LeavesAtlas.png</string>
        </dict>
    </dict>
</plist>
