<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,170},{300,121}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{300,121}}</string>
                <key>sourceSize</key>
                <string>{304,129}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,511},{182,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{182,92}}</string>
                <key>sourceSize</key>
                <string>{192,104}</string>
            </dict>
            <key>continue-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{384,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,128}}</string>
                <key>sourceSize</key>
                <string>{384,128}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,472},{246,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{246,108}}</string>
                <key>sourceSize</key>
                <string>{246,120}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{244,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{244,108}}</string>
                <key>sourceSize</key>
                <string>{244,120}</string>
            </dict>
            <key>high-score-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{322,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,58}}</string>
                <key>sourceSize</key>
                <string>{322,58}</string>
            </dict>
            <key>high-score.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,248},{77,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,27}}</string>
                <key>sourceSize</key>
                <string>{81,31}</string>
            </dict>
            <key>muban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{421,114}}</string>
                <key>sourceSize</key>
                <string>{441,130}</string>
            </dict>
            <key>newgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{289,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{289,128}}</string>
                <key>sourceSize</key>
                <string>{289,136}</string>
            </dict>
            <key>off.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,86},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>on.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,327},{182,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{182,92}}</string>
                <key>sourceSize</key>
                <string>{188,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MenuScene.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f521163d5b599114fe82c50ec63c93d$</string>
            <key>textureFileName</key>
            <string>MenuScene.png</string>
        </dict>
    </dict>
</plist>
