<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,484},{97,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{97,98}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,391},{97,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{97,98}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,111},{81,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{81,82}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>dajinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,194},{76,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{76,80}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>fanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,484},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{97,97}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>hey-fanzhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{174,174}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{174,174}}</string>
                <key>sourceSize</key>
                <string>{196,192}</string>
            </dict>
            <key>heye-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{126,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{126,128}}</string>
                <key>sourceSize</key>
                <string>{152,144}</string>
            </dict>
            <key>heye-boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,173},{151,157}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{151,157}}</string>
                <key>sourceSize</key>
                <string>{171,175}</string>
            </dict>
            <key>heye-jinbicao.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,332},{150,156}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{150,156}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>jinbicao-muban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{267,80}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{267,80}}</string>
                <key>sourceSize</key>
                <string>{285,90}</string>
            </dict>
            <key>jinengshuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,272},{33,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{33,34}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>score-backgound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,169}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{421,169}}</string>
                <key>sourceSize</key>
                <string>{431,183}</string>
            </dict>
            <key>score-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{84,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{84,23}}</string>
                <key>sourceSize</key>
                <string>{88,27}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,297},{92,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,15}}</string>
                <key>sourceSize</key>
                <string>{94,17}</string>
            </dict>
            <key>stage-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,272},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,23}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,27},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NewBattleAtlas.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c00d0d95d5399530c8a16186cb32371d$</string>
            <key>textureFileName</key>
            <string>NewBattleAtlas.png</string>
        </dict>
    </dict>
</plist>
