<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,415},{65,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,42}}</string>
                <key>sourceSize</key>
                <string>{65,42}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,43}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,417},{66,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,43}}</string>
                <key>sourceSize</key>
                <string>{66,43}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,370},{65,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{65,43}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,39},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>HighGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,423},{79,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,85}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>MiddleGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,420},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>RMB.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,370},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{42,45}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>SmallGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,370},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>TreasureChestOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,253},{115,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,104}}</string>
                <key>sourceSize</key>
                <string>{115,104}</string>
            </dict>
            <key>TreasureChestThree.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,131},{120,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,109}}</string>
                <key>sourceSize</key>
                <string>{120,109}</string>
            </dict>
            <key>TreasureChestTwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{127,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,110}}</string>
                <key>sourceSize</key>
                <string>{127,110}</string>
            </dict>
            <key>anniu-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,259},{162,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,69}}</string>
                <key>sourceSize</key>
                <string>{162,69}</string>
            </dict>
            <key>anniu-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,259},{162,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,69}}</string>
                <key>sourceSize</key>
                <string>{162,69}</string>
            </dict>
            <key>chaozhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{176,255}}</string>
                <key>sourceSize</key>
                <string>{184,263}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,423},{81,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,82}}</string>
                <key>sourceSize</key>
                <string>{81,90}</string>
            </dict>
            <key>jinbishangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{231,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,55}}</string>
                <key>sourceSize</key>
                <string>{231,55}</string>
            </dict>
            <key>rexiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,131},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShopAtlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c30bed740e38d8ebbf61c44b02e81033$</string>
            <key>textureFileName</key>
            <string>ShopAtlas.png</string>
        </dict>
    </dict>
</plist>
